h2 {
  margin-top: 40px;
  color: rgb(99, 108, 145);
}

h3 {
  color: rgb(99, 108, 145);
}

a {
  color: #4F5B93;
}

a:hover {
  color: #8892BF;
}

.navbar-default {
  margin-bottom: 0;
  display: block;
  background-color: rgba(113, 122, 160, 0.95);
  border: none;
  border-bottom: 2px solid #4F5B93;
  border-radius: 0;
  position: relative;
  /*height: 80px;*/ /* 64px */
}

.nav {
  margin-bottom: 0;
  background-image: url(../img/14601920735_db808b4dd6_k.jpg);
  background-size: cover;
}

.navbar-brand {
  padding: 75px 20px 20px 20px; /* 20px 15px */
}

.navbar-default .navbar-nav>li>a {
  padding: 75px 20px 20px 20px; /* 20px 15px */
  background-color: rgba(113, 122, 160, 0.95);
  color: #BEC5E4;
  font-size: 12px;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: rgba(99, 108, 145, 0.95);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: rgba(99, 108, 145, 0.95);
}


.quick-links {
  margin-top: 50px;
}

.quick-links div {
}

.quick-links a {
  padding: 40px 19px 30px 19px;
  display: block;
  position: relative;
  background: rgba(136, 146, 191, 0.9);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}



.quick-links a::after {
  content: "";
  background-image: url(../img/3425464_068a1e6124_o.jpg);
  background-size: cover;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.quick-links a:hover {
  background-color: rgba(99, 108, 145, 0.95); /* rgba(136, 146, 191, 0.75) */
  color: #fff;
  text-decoration: none;
}

.quick-links i {
  font-size: 30px;
}

.quick-links h3 {
  margin-top: 5px;
  color: #fff;
  letter-spacing: 2px;
}

table {
  margin-top: 20px;
}

th {
  font-weight: normal;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgba(99, 108, 145, 0.075);
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-color: rgba(99, 108, 145, 0.2);
}

.chart {
	margin-top: 50px;
}

.highcharts-tooltip {
  max-width: 200px;
}

.highcharts-tooltip h3 {
  margin: 2px 0;
  font-size: 16px;
}

.highcharts-tooltip p {
  margin: 0;
  width: 400px;
  font-size: 13px;
  white-space: normal;
}

.site-footer {
  margin-top: 50px;
  padding: 30px 0 10px 0;
  background-color: rgba(99, 108, 145, 0.1);
}
