a {
  color: #4F5B93;
}

a:hover {
  color: #8892BF;
}

.navbar-default {
  background-color: #8892BF;
  border-color: #4F5B93;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #BEC5E4;
}

table {
  margin-top: 20px;
}

th {
  font-weight: normal;
}

.chart {
	margin-top: 50px;
}

.highcharts-tooltip {
  max-width: 200px;
}

.highcharts-tooltip h3 {
  margin: 2px 0;
  font-size: 16px;
}

.highcharts-tooltip p {
  margin: 0;
  width: 400px;
  font-size: 13px;
  white-space: normal;
}

.site-footer {
  margin-top: 50px;
}
