  <table class="table table-striped">
    <thead>
      <tr>
        <th>Host</th>
        <th>Default</th>
        <th ng-repeat="n in [2, 3, 4, 5, 6]">5.{{n}}</th>
        <th class="text-center">Manual Upgrade</th>
        <th class="text-center">Auto Upgrade</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="host in hosts">
        <td><a href="{{ host.url }}">{{ host.name }}</a></td>
        <td><span class="em" ng-mouseenter="versionInfo(host.default)">{{ host.default }}</span></td>
        <td ng-repeat="n in [2, 3, 4, 5, 6]">
            <div ng-if="host['php5'+ n]" ng-mouseenter="versionInfo('5.' + n + '.' + host['php5'+ n] )"><span class="text-muted">5.{{n}}.</span>{{ host['php5'+ n] }}</div>
            <div ng-if=" ! host['php5'+ n]" class="text-center text-muted">-</div>
        </td>
        <td>
            <div ng-if="host.manual_update" class="text-center">{{ host.manual_update }}</div>
            <div ng-if=" ! host.manual_update" class="text-center text-muted">-</div>
        </td>
        <td>
            <div ng-if="host.auto_update" class="text-center">{{ host.auto_update }}</div>
            <div ng-if=" ! host.auto_update" class="text-center text-muted">-</div></td>
      </tr>
    </tbody>
  </table>